[project]
name = "watchtower"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "gpustat>=1.1.1",
    "psutil>=7.2.0",
    "pyqt6>=6.10.1",
]

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
    "ruff>=0.14.10",
]
